/* Mobile Styles (up to 480px wide) */
@media screen and (max-width: 480px) {
  /* Insert mobile-specific CSS styles here */
}

/* Tablet Styles (up to 768px wide) */
@media screen and (max-width: 768px) {
  img:first-child {
    max-width: 100%;
  }

  main > section {
    width: fit-content;
    padding: 40px;
  }

  .container p {
    text-align: justify;
    margin: 0 auto;
  }

  .container img {
    max-width: 100px;
    margin: 0 auto;
  }

  .d-rowr {
    flex-direction: column;
  }

  .contact + div {
    flex-direction: column;
  }

  .contact + div > img:first-child {
    margin: 0 auto 20px;
    max-width: 40%;
  }
}

/* Desktop Styles (screens wider than 768px) */
@media screen and (min-width: 769px) {
  .align-top {
    align-items: center;
  }

  main > section {
    width: fit-content;
    padding: 40px;
  }

  .container img {
    max-height: 225px;
    margin: auto 0;
  }

  p {
    margin-bottom: 20px;
  }
}

/* Larger Desktop Styles (screens wider than 1200px) */
@media screen and (min-width: 1201px) {
  /* ctn:1 | Images */
  main,
  .img-ctn,
  .img-ctn > img {
    border-radius: 20px 20px 0 0;
  }
}
