// Color Variables

// General Colors
$white: #fff;
$color-background: hsl(0, 0%, 96%);

// Primary Colors
$color-primary: hsl(208, 4%, 34%);
$color-link: hsl(353, 100%, 60%);

// Borders and Accents
$color-border: hsl(190, 12%, 87%);
$color-accent: hsl(95, 10%, 93%);

// Text Colors
$color-text: hsl(0, 0%, 35%);
$color-secondary: hsl(193, 7%, 52%);

// Status Colors
$color-success: hsl(118, 51%, 44%);
$color-info: hsl(185, 100%, 26%);

// Footer Color
$color-footer: hsl(210, 5%, 18%);
$announcement-background: hsl(180, 27%, 85%);