/*
 * Header and Nav
 */
header {
  background: hsl(0, 0%, 96%);
  border-bottom: 1px solid hsl(190, 12%, 87%);
  padding-right: 0.8rem;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}
header div.logo {
  float: left;
  display: block;
  border-right: 1px solid hsl(190, 12%, 87%);
}
header nav ul {
  float: right;
  margin: 0;
  padding: 0; /* Optional, to remove any default padding */
}
header nav ul li {
  border-left: 2px solid hsl(190, 12%, 87%);
  display: inline-block;
  padding: 1.25rem 0;
  min-height: 64.99px;
}
header nav ul li a {
  padding: 1.5rem 2rem 1.6rem 1.25rem;
  color: hsl(0, 0%, 35%);
  font-weight: 600;
}
header nav ul li a:hover {
  color: hsl(353, 100%, 60%);
  text-decoration: none;
}
@media only screen and (min-width: 767px) {
  header nav div.hamburger {
    display: none;
  }
}
header nav div.hamburger {
  font-size: 2.25rem;
  float: right;
  padding: 10px;
  margin-right: 5px;
}
header nav div.hamburger a.hamburger-icon:hover {
  text-decoration: none;
  color: hsl(185, 100%, 26%);
}

/*
 * Footer
 */
footer {
  position: absolute;
  left: 0;
  width: 100vw;
  background: hsl(210, 5%, 18%);
  color: hsl(95, 10%, 93%);
  text-align: center;
  font-size: 0.6rem;
  padding: 0.5rem;
  border-top: 1px solid hsl(190, 12%, 87%);
}

/*
 * General Styles
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  color: hsl(208, 4%, 34%);
  background: hsl(0, 0%, 96%);
  overflow-x: hidden;
  max-width: 768px;
  margin: auto;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

a {
  text-decoration: none;
  color: hsl(353, 100%, 60%);
}
a:hover {
  text-decoration: underline;
}

/*
 * Hidden on mobile
 */
@media screen and (max-width: 768px) {
  .announcement,
  nav.large ul,
  .message-text .subject {
    display: none;
  }
}
.container {
  position: relative;
  width: 100%;
  margin: 100px auto 50px; /* Pixel value to make calculations easier later */
}
.container div.announcement {
  background: hsl(180, 27%, 85%);
  padding: 1.75rem;
}
.container div.announcement div.imagery {
  float: left;
  margin-right: 1.25rem;
}
.container div.announcement div.info h3 {
  font-weight: 600;
}
.container section.profile {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  border: 1px solid hsl(190, 12%, 87%);
  background: #fff;
  margin: 0 25% 1.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container section.profile {
    margin: 1.5rem auto;
  }
}
.container section.profile img {
  display: block;
  width: 100%;
}
.container section.profile .details {
  padding: 0.8rem 0.5rem;
  text-align: center;
}
.container section.profile .details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
  color: hsl(0, 0%, 35%);
}
.container section.profile .details .member-since {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .container section.updates {
    width: 432.5px;
    margin: 25px 0 0 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container section.updates {
    width: 430px;
  }
}
.container section.updates div.panel {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  border: 1px solid hsl(190, 12%, 87%);
  margin-bottom: 1.6rem;
  /*
  * Notifications
  */
}
.container section.updates div.panel h3 {
  background: hsl(95, 10%, 93%);
  padding: 0.4rem;
  font-size: 0.9rem;
  border-bottom: 1px solid hsl(190, 12%, 87%);
}
.container section.updates div.panel h3, .container section.updates div.panel-content {
  padding: 0.6rem 3rem 0.6rem 2.5rem;
}
@media screen and (min-width: 768px) {
  .container section.updates div.panel h3, .container section.updates div.panel-content {
    padding: 0.6rem 1rem;
  }
}
.container section.updates div.panel .notification {
  margin-bottom: 0.6rem;
  padding: 0.4rem;
  font-size: 0.85rem;
}

/*
 * Notification, Message Join Styles
 */
.notification,
.message {
  border-bottom: 1px solid rgba(218, 225, 226, 0.5);
}
.notification:last-of-type,
.message:last-of-type {
  border-bottom-width: 0;
}

/*
 * Messages
 */
.message {
  padding: 1.25rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}
.message .photo {
  margin-bottom: 1.5rem;
}
.message .photo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.message .details {
  margin-bottom: 1.5rem;
}
.message .details p {
  margin-bottom: 0.1rem;
}
.message .message-text p.body {
  color: hsl(193, 7%, 52%);
}

@media screen and (min-width: 768px) {
  .message {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  .sender {
    display: flex;
    gap: 10px;
  }
  .sender .details {
    width: 45px;
  }
}
.status {
  font-weight: bold;
}
.status.accepted {
  color: hsl(118, 51%, 44%);
}
.status.declined {
  color: hsl(185, 100%, 26%);
}/*# sourceMappingURL=style.css.map */